.logo-image {
    height: 5rem;
    width: 15rem;
    padding-left: 1rem;
    padding-right: 1rem;
} 

.navbar {
    width: 100%;
    margin-bottom: 0 !important;
}

.search-bar {
    width: 50vh !important;
}

.navbar-items {
    justify-content: space-evenly;
}