.logo-image {
    height: 5rem;
    width: 15rem;
    padding-left: 1rem;
    padding-right: 1rem;
} 

.navbar {
    width: 100%;
}

a.nav-item.nav-link {
    margin-top: 10px;
}

.search-bar {
    width: 50vh !important;
}

.navbar-items {
    justify-content: space-evenly;
}

.avatar {
    width: 50px !important;
    height: 50px !important;
    border-radius: 50%;
}