.modalButtons {
    display: flex;
    justify-content: right;
    margin-bottom: 1em;
}

#modalMessage {
    font-size: 1.2rem;
}

#cancelButton {
    background-color: grey;
}

#confirmButton {
    margin-left: 1em;
    margin-right: 1em;
}