.modalButtons {
    display: flex;
    justify-content: right;
    margin-bottom: 1em;
}

#modalMessage {
    font-size: 1.2rem;
}

#closeButton {
    background-color: grey;
}

#confirmButton, #closeButton {
    margin-right: 1em;
}