.homepage-body-container {
    width: 100%;
    margin: 0;
    display: flex;
    height: 70vh;
}

.studio-cards-container {
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1em;
    height: 100%;
    overflow: scroll
}

.map-filterbar-container {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 1em;
  height: 100%;
  overflow: scroll
}

.studio-cards-container, .map-filterbar-container {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.studio-cards-container::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.map-filterbar-container::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}